<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<title>Foorumi</title>
<h1> <a href="/" style="text-decoration: none">Foorumi</a></h1>

{% if session.user_name %}
<p> <b>{{ session.user_name }}</b> <br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p> <a href="/login">Kirjaudu sisään</a> tai <a href="/register">Luo käyttäjä</a>
{% endif %}

<form action="/search" method="POST" style="display: inline">
	<input type="text" name="term">
	<input type="submit" name="thread_search" value="Etsi ketjuja">
	<input type="submit" name="message_search" value="Etsi viestejä">
</form>

<p style="color:red"> {{message}} </p>

<hr>
{% block content %}
{% endblock %}
