{% extends "layout.html" %}
{% block content %}

<a href="/topic/{{topic.id}}" topic>{{topic.topic}}</a><br>
<a href="/thread/{{thread.id}}" topic>{{thread.subject}}
	{% if session.get("is_admin") or session.get("user_id") == thread.user_id %}
		{% if session.get("user_id") %}
			{% if thread.id | check_vote == 1 %}
				<form action="" class="remove_vote_form" style="display: inline">
				<input type="hidden" name="thread_id" value={{thread.id}}>
				<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
				<input type="submit" style="background-color: lightblue" value="+1">
				</form>
			{% else %}
				<form action="" class="like_form" style="display: inline">
				<input type="hidden" name="thread_id" value={{thread.id}}>
				<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
				<input type="submit" value="+1">
				</form>
			{% endif %}
			{% if thread.id | check_vote == -1 %}
				<form action="" class="remove_vote_form" style="display: inline">
				<input type="hidden" name="thread_id" value={{thread.id}}>
				<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
				<input type="submit" style="background-color: lightblue" value="-1">
				</form>
			{% else %}
				<form action="" class="dislike_form" style="display: inline">
				<input type="hidden" name="thread_id" value={{thread.id}}>
				<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
				<input type="submit" value="-1">
				</form>
			{% endif %}
		{% endif%}

		{% if thread.visible %}
			<form action="/delete_thread/{{thread.id}}" method="GET" style="display: inline">
			<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
			<input type="submit" value="Poista ketju">
			</form>
		{% else%}
			<form action="/restore_thread/{{thread.id}}" method="POST" style="display: inline">
			<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
			<input type="submit" value="Palauta ketju">
			</form>
		{% endif%}
	{% endif%}
</a><br>

{% if session.get("user_id") %}
	<form action="/create_message/{{thread.id}}" method="POST">
		<p>Uusi viesti (1-10000 merkkiä):<br>
		<textarea rows="10" cols = "100" maxlength="10000" name="message" required></textarea>
		<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
		<input type="submit" value="Lähetä viesti">
	</form>
	<br>
{% else %}
	<p>Kirjaudu sisään osallistuaksesi keskusteluun!</p>
{% endif%}

{% for message in messages %}
		<div message>
		{{message.message}}
		<br>
		<span message_info> - {{message.user_id | get_username}} - {{message.time}} UTC
			{% if message.time != message.edit_time %}
				 - Muokattu: {{message.edit_time}} UTC
			{% endif%}
		</span>
		{% if session.get("user_id") == message.user_id %}
			<form action="/edit_message/{{message.id}}" method="GET" style="display: inline">
			<input type="submit" value="Muokkaa viestiä">
			</form>
		{% endif%}
		{% if session.get("is_admin") or session.get("user_id") == message.user_id %}
			<form action="/delete_message/{{message.id}}" method="GET" style="display: inline">
			<input type="submit" value="Poista viesti">
			</form>
		{% endif%}
		</div>
		<br>
{% endfor%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
	$(".like_form").on("submit", function(event) {
		var dataString = $(this).serialize();

		$.ajax({
			method: "POST",
			url: "/like_thread",
			data: dataString
		});
		window.location.reload();
		e.preventDefault();
	});
	$(".dislike_form").on("submit", function(event) {
		var dataString = $(this).serialize();

		$.ajax({
			method: "POST",
			url: "/dislike_thread",
			data: dataString
		});
		window.location.reload();
		e.preventDefault();
	});
	$(".remove_vote_form").on("submit", function(event) {
		var dataString = $(this).serialize();

		$.ajax({
			method: "POST",
			url: "/remove_thread_vote",
			data: dataString
		});
		window.location.reload();
		e.preventDefault();
	});
</script>


{% endblock %}
