{% extends "layout.html" %}
{% block content %}

<p>Ketjut, joiden otsikossa esiintyy "{{search_term}}"</p>

{% for thread in results%}
	{% if thread.visible %}
		<a href="/thread/{{thread.id}}" topic>{{thread.subject}}
	{% else %}
		<a href="/thread/{{thread.id}}" topic not_visible>{{thread.subject}} <em>(poistettu)</em>
	{% endif %}

	<span topic_info>Aloittanut: {{thread.user_id | get_username}}, Viestejä: {{thread.message_count}},
		 Tykkäyksiä: {{thread.likes}}{% if thread.latest %}, Viimeisin: {{thread.latest}} UTC{% endif %}</span>

	</a><br>
{% endfor%}

{% endblock %}
