{% extends "layout.html" %}
{% block content %}

<a href="/topic/{{topic.id}}" topic>{{topic.topic}}
<span topic_info></span>
</a><br>

{% if session.get("user_id") %}
	<form action="/create_thread/{{topic.id}}" method="GET">
		<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
		<input type="submit" value="Aloita uusi ketju">
	</form>
	<br>
{% else %}
	<p>Kirjaudu sisään aloittaaksesi uusi ketju!</p>
{% endif%}

{% for thread in threads %}
	{% if thread.visible %}
		<a href="/thread/{{thread.id}}" topic>{{thread.subject}}
		{% if session.get("is_admin") or session.get("user_id") == thread.user_id %}
			<form action="/delete_thread/{{thread.id}}" method="GET" style="display: inline">
			<input type="submit" value="Poista ketju">
			</form>
		{% endif%}
	{% else %}
		<a href="/thread/{{thread.id}}" topic not_visible>{{thread.subject}} <em>(poistettu)</em>
		{% if session.get("is_admin") or session.get("user_id") == thread.user_id %}
			<form action="/restore_thread/{{thread.id}}" method="POST" style="display: inline">
			<input type="hidden" name="csrf_token" value="{{ session.get("csrf_token") }}">
			<input type="submit" value="Palauta ketju">
			</form>
		{% endif%}
	{% endif %}

	<span topic_info>Viestejä: {{thread.message_count}}, Viimeisin viesti: {{thread.latest}} UTC </span>

	</a><br>
{% endfor%}

{% endblock %}
